
@using RP.Mvc.Models;
<div class="row">

    <div class="col-lg-12">
        <br /><br /><br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Consulta de pacientes
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <form>
                            <div class="form-group">
                                <label for="tipDocumento">Tipo de documento</label>
                                <select id="tipDocumento" class="form-control input-sm">
                                    <option>Seleccione</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="nroDocumento">Número de documento</label>
                                <input type="text" class="form-control input-sm" id="nroDocumento" placeholder="Número de documento">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-sm">Buscar paciente</button>

                            </div>
                        </form>

                    </div>

                    <div class="col-lg-8">
                        <div class="col-sm-12">
                            <div class="col-md-12">
                                <h4 id="nombrePaciente"></h4>

                            </div>
                            <div class="col-md-12"><hr /></div>
                            <div class="col-md-6">
                                <p>Historia Clínica</p>
                            </div>
                            <div class="col-md-6">
                                <p id="historiaPaciente"></p>
                            </div>
                            <div class="col-md-6">
                                <p>Fec. Nacimiento</p>
                            </div>
                            <div class="col-md-6">
                                <p id="fechaNacimiento"></p>
                            </div>
                            <div class="col-md-6">
                                <p>Edad</p>
                            </div>
                            <div class="col-md-6">
                                <p id="edadPaciente"></p>
                            </div>
                            <div class="col-md-6">
                                <p>Nro. de Telefono</p>
                            </div>
                            <div class="col-md-6">
                                <p id="nroTelefonoPaciente"></p>
                            </div>
                            <div class="col-md-6">
                                <p>Email</p>
                            </div>
                            <div class="col-md-6">
                                <p id="emailPaciente"></p>
                            </div>


                            <div class="row-fluid">
                                <button type="button" class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("GestionarPaciente", "Paciente")'">Gestionar paciente</button>
                                <button type="button" class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("GestionarPlanTratamiento", "Paciente")'">Sesiones de terapia</button>
                                <button type="button" class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("FichaEvolucion", "Paciente")'">Evolución del paciente</button>
                                <button type="button" class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Alta", "Paciente")'">Dar de alta</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>




    </div>





</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        var apiURL = "http://localhost:53229/api/";
        var fechaSeleccionada = "";
        $(document).ready(function() {
            $('.date-session').datepicker({
                weekStart: 1,
                format: 'dd/mm/yyyy',
                autoclose: true,
                minDate: new Date()

            }).on('changeDate', function (selected) {
                date = new Date(selected.date.valueOf());
                var objetoSelectHora = $(this).parent().parent().find(".select-hora");
                var fecha = formatoFecha(date);
                fechaSeleccionada = fecha;
            });

            $("#btnBuscar").click(function () { buscarProfesionales(); });

        });

        Number.prototype.padLeft = function(base, chr) {
            var len = (String(base || 10).length - String(this).length) + 1;
            return len > 0 ? new Array(len).join(chr || '0') + this : this;
        }

        function formatoFecha(d) {
            dformat = [(d.getMonth() + 1).padLeft(),
                        d.getDate().padLeft(),
                        d.getFullYear()].join('-');
            return dformat;
        }

        var numDoc = 45858596;
        var idPaciente = 1;

        function obtenerPaciente(numDoc) {
            var urlBuscarPaciente = apiURL + "paciente/buscar/1/" + numDoc;
            $.ajax({
                url: urlBuscarPaciente,
                success: function(data) {
                    if (data == null) {
                        return;
                    }
                    $("#nombrePaciente").text(data.NOMBRE);
                    $("#historiaPaciente").text(data.cNroHistoriaClinica);
                    $("#fechaNacimiento").text(convertirFecha(data.dFechaNacimiento));
                    $("#edadPaciente").text(data.nEdad);
                    $("#emailPaciente").text(data.cEmail);
                    $("#nroTelefonoPaciente").text(data.cNroTelefono);
                    $("#idPaciente").text(data.cNroTelefono);

                    obtenerMedicos(idPaciente);
                    obtenerUltimoDiagnostico(idPaciente);
                    obtenerDiagnosticos(idPaciente);
                }
            });
        }

        obtenerPaciente(numDoc);

        function obtenerMedicos(idPaciente) {
            var urlBuscarPaciente = apiURL + "gestionpaciente/medicosFrecuentes/" + idPaciente;
            $.ajax({
                url: urlBuscarPaciente,
                success: function(data) {
                    if (data.length > 0) {
                        $.each(data, function(i, item) {
                            jQuery("#tablaMedicosRecomendados tbody").append('<tr>' + '<td>' + parseInt(i + 1) + '</td>' + '</td>' + '<td>' + item.nombre + '</td>' + '<td>' + item.nroAtenciones + '</td>' + '<td>' + '<input type="radio" name="medRecomendadoSeleccionado" value="' + item.nProfesionalId + '">' + '</td>' + '</tr>');
                        });
                    }

                }
            });
        }

        function obtenerUltimoDiagnostico(idPaciente) {
            var urlBuscarPaciente = apiURL + "gestionpaciente/ultimoDiagnostico/" + idPaciente;
            $.ajax({
                url: urlBuscarPaciente,
                success: function(data) {
                    if (data == null) {
                        return;
                    }
                    $("#tipoUltimoDiagnostico").text(data.cMaestroDescripcion);
                    $("#medicoUltimoDiagnostico").text(data.nombreMedico);
                    $("#detalleUltimoDiagnostico").text(data.cDetalleDiagnostico);
                }
            });
        }


        function buscarProfesionales() {

            var turno = $("#turnoCita").val();
            var hora = $("#horaCita").val();

            var horamod = hora.replace(":", "");


            var urlProfesionales = apiURL + "general/profesionales/" + fechaSeleccionada + "/" + turno + "/" + horamod;

            console.log(urlProfesionales);

            $.ajax({

                url: urlProfesionales,
                success: function(data) {
                    $('#tablaProfesionales tr').not(function () { return !!$(this).has('th').length; }).remove();
                    $("#tablaProfesionales").addClass("hide");
                    if (data.length > 0) {
                        $("#tablaProfesionales").removeClass("hide");
                        $.each(data, function(i, item) {
                            jQuery("#tablaProfesionales tbody").append('<tr>' + '<td>' + parseInt(i + 1) + '</td>' + '</td>' + '<td>' + item.nombre + '</td>' + '<td>' + '<input type="radio" name="medRecomendadoSeleccionado" value="' + item.nProfesionalId + '">' + '</td>' + '</tr>');
                        });
                    }
                }
            });

        }

        function obtenerDiagnosticos(idPaciente) {
            var urlListarCitas = apiURL + "gestionpaciente/citas/" + idPaciente;
            $.ajax({
                url: urlListarCitas,
                success: function(data) {
                    if (data.length > 0) {
                        $.each(data, function(i, item) {

                            if (item.estadoCita === 'ATENDIDA') {
                                jQuery("#listaCitas").append(
                                    '<div class="panel panel-default">' +
                                    '<div class="panel-body">' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Fecha Programada</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.dFecha + '</span>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Hora</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.dHora + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Médico</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.nombreProfesional + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Estado</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.estadoCita + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Diagnóstico</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-9 col-sm-9 col-xs-12 form-group">' +
                                    '<span>' + item.tipoDiagnostico + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Detalle</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-9 col-sm-9 col-xs-12 form-group">' +
                                    '<span>' + item.cDetalleDiagnostico + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>'
                                );

                            } else if (item.estadoCita === 'PROGRAMADA') {
                                jQuery("#listaCitas").append(
                                    '<div class="panel panel-primary">' +
                                    '<div class="panel-body">' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Fecha Programada</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.dFecha + '</span>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Hora</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.dHora + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Médico</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.nombreProfesional + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Estado</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.estadoCita + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="pull-right">' +
                                    '<button type="button" class="btn btn-primary btn-xs"  onclick="javascript:openModalDiagnostico(this);">Registrar diagnóstico</button>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>'
                                );

                            } else {
                                jQuery("#listaCitas").append(
                                    '<div class="panel panel-danger">' +
                                    '<div class="panel-body">' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Fecha Programada</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.dFecha + '</span>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Hora</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.dHora + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Médico</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.nombreProfesional + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Estado</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.estadoCita + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>'
                                );

                            }


                        });
                    }

                }
            });
        }


        function populateHours() {
            var turno = $("#turnoCita").val();
            $('#horaCita').empty();

            console.log("turnoCita: " + turno);
            if (turno == 1) {
                jQuery("#horaCita").append(
                    '<option value="08:30">08:00</option>' +
                    '<option value="08:30">08:30</option>' +
                    '<option value="09:00">09:00</option>'+
                    '<option value="09:30">09:30</option>'+
                    '<option value="10:00">10:00</option>'+
                    '<option value="10:30">10:30</option>'+
                    '<option value="11:00">11:00</option>'+
                    '<option value="11:30">11:30</option>'+
                    '<option value="12:00">12:00</option>'+
                    '<option value="12:30">12:30</option>'
                );
            } else if (turno == 2) {
                jQuery("#horaCita").append(
                    '<option value="14:00">14:00</option>' +
                    '<option value="14:30">14:30</option>' +
                    '<option value="15:00">15:00</option>' +
                    '<option value="15:30">15:30</option>' +
                    '<option value="16:00">16:00</option>' +
                    '<option value="16:30">16:30</option>' +
                    '<option value="17:00">17:00</option>' +
                    '<option value="17:30">17:30</option>' +
                    '<option value="18:00">18:00</option>' +
                    '<option value="18:30">18:30</option>'
                );
            }
            else {
                $('#horaCita').empty();
            }


        }


        //--------------------------------------------- UTILS -----------------------------------------------

        function convertirFecha(date) {
            if (typeof date == "string")
                date = new Date(date);
            var day = (date.getDate() <= 9 ? "0" + date.getDate() : date.getDate());
            var month = (date.getMonth() + 1 <= 9 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1));
            var dateString = day + "/" + month + "/" + date.getFullYear();

            return dateString;
        }

        function openModal(objeto) {
            $('#myModal').modal('show');

        }

        function openModalDiagnostico(objeto) {
            $('#myModalDiagnostico').modal('show');

        }

    </script>
}
