
@model RP.Mvc.Models.PacienteViewModel
    <h4>Crear nueva ficha de evolución</h4>
    <hr />
<input  type="hidden" id="idPaciente" />
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="form-horizontal">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.NroDoc, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.NroDoc, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Buscar Paciente" name="btnBuscar" id="btnBuscar" class="btn btn-primary" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Nombres, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Apellidos, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MedEspecialista, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.MedEspecialista, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Observaciones, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                      <textarea rows="4" class="form-control" id="Observaciones" readonly="readonly">@Model.Observaciones</textarea>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Diagnostico, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <textarea rows="4" class="form-control" id="Diagnostico" readonly="readonly">@Model.Diagnostico</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="partialSesionesDinamicas"></div>
        </div>
    </div>
</div>