@model RP.Mvc.Models.SearchModel
@{
    ViewBag.Title = "Ficha de Evolución";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Search", "PacienteController", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Crear nueva ficha de evolución</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NroDoc, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.NroDoc, new { @class = "form-control" })
        </div>
    </div>
   

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
