@using RP.Mvc.Models;

@model FichaEvolucionModel


@{
    ViewBag.Title = "Ficha de Evolución";
}

<h2>@ViewBag.Title</h2>


<div>
    <h4>Crear nueva ficha de evolución</h4>
    <hr />
</div>
<div class="row">
    <div class="col-md-4">
        <section id="busquedaPaciente">
           @Html.Partial("_PacientePartial", new PacienteViewModel { ReturnUrl = ViewBag.ReturnUrl })
           @Html.Partial("_PacienteDiagnosticoPartial", new PacienteDiagnosticoViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    <div class="col-md-8">
        <section id="socialLoginForm">
            <div id="partialSesionesDinamicas"></div>
        </section>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Observaciones sesiones</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" rows="5" cols="50" id="comment"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        var apiURL = "http://localhost:53229/api/";
        $(document).ready(function () {
            $("#btnBuscar").click(function () { buscarInformacionPaciente(); });
        });

        function buscarInformacionPaciente() {
            
            var numDoc = $("#NroDoc").val();
            if(numDoc.length > 0) {
            obtenerPaciente(numDoc);
            obtenerDiagnostico(numDoc);
            }
        }

        $('#NroDoc').keypress(function (evt) {
            if (/^[a-z0-9]+$/i.test(String.fromCharCode(evt.charCode)) == false) {
                evt.returnValue = false;
                return false;
            }
        });


        function obtenerPaciente(numDoc) {
            var urlBuscarPaciente = apiURL + "fichaEvolucion/buscarPaciente/" + numDoc;
            $.ajax({
                url: urlBuscarPaciente,
                success: function (data) {
                    $("#Nombres").val(data.Nombre);
                    $("#idPaciente").val(data.id);
                    $("#Apellidos").val(data.Ape_Paterno + " " + data.Ape_Materno);
                }
            });
        }

        function obtenerDiagnostico(numDoc) {
            var urlObtenerDiagnostico = apiURL + "fichaEvolucion/buscarDiagnostico/" + numDoc;
            $.ajax({
                url: urlObtenerDiagnostico,
                success: function (data) {
                    $("#MedEspecialista").val(data.NombreEspecialista);
                    $("#MedTerapista").val(data.NombreTerapista);
                    $("#Observaciones").val(data.observacion);
                    $("#Diagnostico").val(data.diagnostico);
                    crearDiagnosticoDinamico(data.Nro_Sesiones);
                }
            });
        }

        function crearDiagnosticoDinamico(numSesiones) {
            var url = '@Url.Action("PartialSesionesDinamicas", "FichaEvolucion")' + '?numSes=' + numSesiones;
            $("#partialSesionesDinamicas").html("Cargando...").load(url);
        }
    </script>
}
